current.log
output.wav
venv/*
.vscode/*
model/*
pyvenv.cfg
logs/*
dbg.lock
releases/*
version.number
filters/__pycache__/*
temp/*
changelog.local
embedded/*
userconfig.json
userconfig.toml
filters.toml
data/model*
data/logs/*
config/userconfig.toml
config/filters.toml
run.bat
debug.bat
!data/run.bat
!data/debug.bat