current.log
output.wav
venv/*
.vscode/*
model/*
pyvenv.cfg
logs/*
dbg.lock
releases/*
version.number
filters/__pycache__
data/__pycache__
temp/*
changelog.local
embedded/*
userconfig.json
userconfig.toml
filters.toml
data/models/__pycache__
data/model/*
data/logs/*
config/userconfig.toml
config/filters.toml