keyboard==0.13.5
nemo_toolkit==2.3.1
PyAudio==0.2.14
pynput==1.8.1
pyperclip==1.9.0
mouse
soundfile
lightning<2.4.0
transformers
huggingface_hub
psutil
pywinauto
tomlkit
torchaudio
pyloudnorm
requests
hydra-core
lhotse
einops
sentencepiece
pandas
jiwer
librosa
scipy
kaldi-io
pyannote.core
webdataset
datasets
editdistance
pyannote.metrics
IPython