keyboard==0.13.5
nemo_toolkit==2.3.1
PyAudio==0.2.14
pynput==1.8.1
pyperclip==1.9.0
mouse
soundfile
scipy
kaldi-io
librosa
hydra-core
lightning
lhotse
einops
transformers
sentencepiece
pandas
jiwer
pyannote.core
webdataset
datasets
editdistance
pyannote.metrics
IPython
huggingface_hub
psutil